# Server configuration
PORT=5000

# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/karobar_hisab?retryWrites=true&w=majority

# JWT Authentication Secret
JWT_SECRET=your_jwt_secret_key_here
# Server configuration
PORT=5000

# MongoDB Atlas connection URI
MONGODB_URI=mongodb+srv://muhammadharoon8481_db_user:n3KbFlzTkJiLMJRx@cluster0.vvrcgi5.mongodb.net/dailytally?retryWrites=true&w=majority&appName=Cluster0

# JWT Authentication Secret
JWT_SECRET=317042d20d16ef9b8bf719dec7e20806ae0ffb4974199c15524eaf746384139a4c6e5749fa6384b019e60aff995da381
